**__pycache__**
**build**
!tools/build_city_docs/
!tools/build_city_docs/**
**egg-info**
**dist**
*.pyc
venv/
*.idea/
*.so
*.sh
!scripts/*.sh
*.pth
*.pkl
*.zip
*.bin
output
version.py
*.png
*/external_libs/*
keys
temp_files/*
*.DS_Store
*.editorconfig
*.vscode
data/benchmark/*
docs/cities
docs/cities_new
docs/cities_only
data/overture_sample/*.parquet
semantic_dataset_overture
semantic_dataset_osm_overture_google_cost_down
semantic_dataset_osm_overture_google
semantic_dataset_osm_overture_full
semantic_dataset_osm
times_square
times_square_free
times_square_large